<div class="container-fluid">
    <div class="row" id="center">
      
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            
            <div class="form-group">

                <label for="description">QUOTE</label>
                <textarea class="form-control" id="description" rows="4" required
                #quote="ngModel" [(ngModel)]="newQuote.quoted" name="textarea"></textarea>
                
                <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                    <p> Quote is Required</p>
                     </div>

            </div>

            <div class="form-group">
                <label for="author">Author</label><br>
                <input type='name' id="author" #author="ngModel" required
                [(ngModel)]="newQuote.author" name="author">

                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p> Author is Required</p>
                  </div>
                
            </div>

            <div class="form-group">

                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name"
                #name="ngModel" [(ngModel)]="newQuote.name" name="name">
                
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p> Name is Required</p>
                  </div>

            </div>
           <a href="#s2"> <button type="Submit" class="btn btn-success btn-lg"
            (click)="submitQuote()">Add Quote</button></a>
            
   
           <!-- <h4>Quote:</h4>
            <h5>
              <i></i> <br><br><span class="text-center">&mdash;
                 {{newQuote.author}}</span></h5>-->
        </form>


    </div>
    
</div>


